<br />
<div class="container">
  <div class="row">
    <span>
      <a href="javascript:void(0)" (click)="recargarTablaAutores()">{{
        title
      }}</a>
    </span>
  </div>
<!-- formulario de registro -->
  <div class="formularioRegistro">
    <form
      class="form-group"
      (ngSubmit)="guardarAutor()"
      [formGroup]="formularioAutor"
      *ngIf="botonNuevoAutorVisible"
    >
      <div class="row mt-3">
        <h1>Datos autor</h1>
        <div *ngIf="modificarAutor">
          <h3>Modificar</h3>
          <input type="text"
          class="form-control" [value]="nombreAutorEditar" disabled>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="nombre"
            placeholder="Nombre"
            aria-label="First name"
          />
          <p
            *ngIf="formularioAutor.get('nombre')?.errors?.['required']"
            class="text-danger"
          >
            El campo nombre es requerido
          </p>
        </div>
        <div class="col">
          <input
            type="text"
            class="form-control"
            formControlName="apellidos"
            placeholder="Apellidos"
            aria-label="Last name"
          />
          <p
            *ngIf="formularioAutor.get('apellidos')?.errors?.['required']"
            class="text-danger"
          >
            El campo apellidos es requerido
          </p>
        </div>
      </div>

      <div class="mt-3" *ngIf="mostrarBotonGuardar">
        <button
          type="submit"
          class="btn btn-primary"
          [disabled]="formularioAutor.invalid"
        >
          Añadir autor
        </button>
      </div>
      
    </form>
    <div class="mt-3" *ngIf="modificarAutor">
      <button
        (click)="actualizarAutor()"
        [disabled]="formularioAutor.invalid"
      >
        Actualizar autor
      </button>
    </div>

    <br />

    <div class="alert alert-success" role="alert" *ngIf="guardadoExitoso">
      Autor guardado correctamente
    </div>

    <div class="alert alert-warning" role="alert" *ngIf="alertaConflicto">
      {{warningMessage}}
    </div>
  </div>

  <br />
  <div>
    <div class="input-group mb-3">
      <input
        #keywordInput
        type="text"
        class="form-control"
        placeholder="Buscar..."
        aria-label="Buscar"
        aria-describedby="basic-addon2"
      />
      <div class="input-group-append">
        <button
          (click)="buscarAutores(keywordInput.value)"
          class="btn btn-outline-secondary"
          type="button"
        >
          Buscar
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="alert alert-success" role="alert" *ngIf="eliminadoExitoso">
    Autor eliminado correctamente
  </div>
  <div class="EncabezadoTabla">
    <h1>Tabla de autores</h1>
    <button (click)="botonNuevoAutor()" type="button" class="btn btn-dark">
      Nuevo autor
    </button>
  </div>

  <table class="table table-primary table-hover shadow">
    <thead>
      <tr class="table-success">
        <th scope="col">id</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of autores">
        <th scope="row">{{ item.id }}</th>
        <td >{{ item.nombre }}</td>
        <td class="acciones">
          <button
            (click)="obtenerLibroPorId(item.id)"
            type="button"
            class="btn btn-success"
          >
            Ver libros
          </button>
          <button
            (click)="editarAutor(item)"
            type="button"
            class="btn btn-warning"
          >
            Editar autor
          </button>
          <button
            (click)="eliminarAutor(item)"
            type="button"
            class="btn btn-danger"
          >
            Eliminar autor
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
