<div class="container mt-5">
  <div class="jumbotron text-center gradient-custom-2">
    <h1 class="display-4">Bienvenido al mercadillo de libros</h1>
    <h1 class="display-4">del Colegio A.A</h1>
    <img src="/assets/img/LogoWebSinFondo.png" style="width: 100px" alt="logo" />
    <p class="lead">Descubre tu próxima lectura favorita</p>
    <p class="lead">Vende los libros que ya no quieres.</p>
    <hr class="my-4" />
    <p>Explora nuestras colecciones</p>
    <a
      *ngIf="(user$ | async)?.role === 'USER'"
      class="btn btn-primary btn-lg"
      href="/book-catalog/book-shop"
      role="button"
      >Ver Libros</a
    >
  </div>
</div>
