<footer class="footer bg-light">
    <div class="container py-4">
        <div class="row">
            <div class="col-lg-4">
                <h3>Enlaces</h3>
                <ul class="list-unstyled">
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Acerca de</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </div>
            <div class="col-lg-4">
                <h3>Contacto</h3>
                <p>Correo electrónico: info@example.com</p>
                <p>Teléfono: 123-456-7890</p>
            </div>
            <div class="col-lg-4">
                <h3>Derechos de autor</h3>
                <p>&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
            </div>
        </div>
    </div>
</footer>
