<!-- Tabla de libros en las librerías -->
<div class="tablaLibros">
  <table class="table table-primary table-hover shadow">
    <thead>
      <tr class="table-success">
        <th scope="col">ID</th>
        <th scope="col">Título del Libro</th>
        <th scope="col">Nombre de la Librería</th>
        <th scope="col">Cantidad Disponible</th>
        <th scope="col">Precio</th>
        <th scope="col">Edición</th>
        <th scope="col">Fecha de Publicación</th>
        <th scope="col">Opción</th>
      </tr>
    </thead>
    <tbody>
      <!-- Lista de libros en las librerías -->
      <tr *ngFor="let item of librosVenta">
        <th scope="row">{{ item.id }}</th>
        <td>{{ item.tituloLibro }}</td>
        <td>{{ item.nombreLibreria }}</td>
        <td>{{ item.cantidad }}</td>
        <td>{{ item.precio | currency : "EUR" : "symbol" }}</td>
        <td>{{ item.edicion }}</td>
        <td>{{ item.fechaPublicacion }}</td>
        <!-- Botones para ver, editar y eliminar libros en las librerías -->
        <td class="acciones">
          <button
            (click)="comprarLibro(item.id)"
            type="button"
            class="btn btn-success"
            [disabled]="item.cantidad < 1"
          >
            Comprar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
