<nav class="navbar2 navbar-expand-lg navbar-dark">
  <div
    class="collapse navbar-collapse justify-content-center"
    id="navbarNavDropdown"
  >
    <ul
      class="navbar-nav align-items-center"
      style="cursor: pointer; width: 100%"
    >
      <li class="nav-item mx-3">
        <button
          (click)="recargarTablaLibros()"
          type="button"
          class="btn navbar-button"
        >
          Todos
        </button>
      </li>
      <li class="nav-item mx-3">
        <button
          (click)="cargarLibrosPorLibreria()"
          type="button"
          class="btn navbar-button"
        >
          Mis libros a la venta
        </button>
      </li>

      <li class="nav-item mx-3">
        <button
          (click)="cargarLibrosMenosLibreria()"
          type="button"
          class="btn navbar-button"
        >
          Todos menos mis libros
        </button>
      </li>
      <!-- Campo de búsqueda de libros -->
      <li class="nav-item mx-3 search-bar">
        <div class="input-group">
          <input
            #keywordInput
            type="text"
            class="form-control"
            placeholder="Buscar..."
            aria-label="Buscar"
            aria-describedby="basic-addon2"
          />
          <!-- Botón para buscar libros -->
          <div class="input-group-append">
            <button
              (click)="buscarLibrosPorTitulo(keywordInput.value)"
              class="btn btn-outline-secondary navbar-button2"
              type="button"
            >
              Buscar
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <h1>Libros a la venta</h1>
  <!-- Tabla de libros en las librerías -->
  <div class="tablaLibros">
    <table class="table table-striped table-hover shadow">
      <thead>
        <tr class="table-primary">
          <th
            scope="col"
            class="sortable"
            (click)="sortTable('id')"
            style="cursor: pointer"
          >
            ID
          </th>
          <th
            scope="col"
            class="sortable"
            (click)="sortTable('tituloLibro')"
            style="cursor: pointer"
          >
            Título
          </th>
          <th
            scope="col"
            class="sortable"
            (click)="sortTable('tituloLibro')"
            style="cursor: pointer"
          >
            Autor
          </th>
          <th
            scope="col"
            class="sortable"
            (click)="sortTable('tituloLibro')"
            style="cursor: pointer"
          >
            Apellidos
          </th>
          <th scope="col">Librería</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Precio</th>
          <th scope="col">Edición</th>
          <th scope="col">Publicación</th>
          <th scope="col">Opción</th>
        </tr>
      </thead>
      <tbody>
        <!-- Lista de libros en las librerías -->
        <tr *ngFor="let item of librosVenta">
          <th scope="row">{{ item.id }}</th>
          <td>{{ item.tituloLibro }}</td>
          <td>{{ item.nombreAutor }}</td>
          <td>{{ item.apellidosAutor }}</td>
          <td>{{ item.nombreLibreria }}</td>
          <td>{{ item.cantidad }}</td>
          <td>{{ item.precio | currency : "EUR" : "symbol" }}</td>
          <td>{{ item.edicion }}</td>
          <td>{{ item.fechaPublicacion }}</td>
          <!-- Botón para comprar el libro -->
          <td class="acciones">
            <button
              (click)="
                comprarLibro(
                  item.idLibro,
                  item.precio,
                  item.idLibreria,
                  item.id
                )
              "
              type="button"
              class="btn btn-success"
              [disabled]="item.cantidad < 1 || item.idLibreria === idLibreria"
            >
              Comprar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Paginación -->
  <div *ngIf="paginacion">
    <ul *ngIf="totalPaginas && totalPaginas.length > 0" class="pagination">
      <!-- Botón "Anterior" -->
      <li [class.disabled]="currentPage <= 0">
        <button
          (click)="changePage(currentPage - 1)"
          [disabled]="currentPage <= 0"
          class="page-link"
        >
          Anterior
        </button>
      </li>

      <!-- Números de página -->
      <li
        *ngFor="let page of totalPaginas"
        [class.active]="currentPage === page - 1"
        class="page-item"
      >
        <a (click)="changePage(page - 1)" class="page-link">{{ page }}</a>
      </li>

      <!-- Botón "Siguiente" -->
      <li [class.disabled]="currentPage >= totalPaginas.length - 1">
        <button
          (click)="changePage(currentPage + 1)"
          [disabled]="currentPage >= totalPaginas.length - 1"
          class="page-link"
        >
          Siguiente
        </button>
      </li>
    </ul>
    <!-- Selector de tamaño de página -->
    <select (change)="changePageSize($event)">
      <option *ngFor="let size of [10, 20, 50, 100]" [value]="size">
        {{ size }}
      </option>
    </select>
  </div>
</div>

<!-- Modal de confirmación -->
<ng-template #confirmationModal let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Compra realizada</h4>
  </div>
  <div class="modal-body">
    <p>La compra se ha realizado exitosamente.</p>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      (click)="modal.close('Ok click')"
    >
      Aceptar
    </button>
  </div>
</ng-template>
